<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>

<br/>
<div>
    <table border="4">
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>e-mail</th>
            <th>Пароль</th>
            <th>Роли</th>
            <th>Удалить</th>
        </tr>
        <tr th:each="usr : ${users}">
            <td><a th:href="@{/admin/{id}/edit(id=${usr.getId()})}" th:utext="${usr.getId()}">Id</a></td>

            <!--            <td th:utext ="${usr.getId()}">...</td>-->
            <td th:utext="${usr.getName()}">...</td>
            <td th:utext="${usr.getEmail()}">...</td>
            <td th:utext="${usr.getPassword()}">...</td>
            <td th:utext="${usr.getRoles()}">...</td>
            <td>
                <form  th:method="DELETE" th:action="@{/admin/{id}(id=${usr.getId()})}">
                    <input type="submit" value="Удалить пользователя"/>
                </form>
            </td>

        </tr>
    </table>
</div>

<br/>
</hr>

<a href="/admin/new">Создать нового пользователя</a>
<br/>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="ВЫХОД"/>
</form>
</body>
</html>
